<% if user_signed_in? %>
  <table class="table">
    <tr>
    <th colspan = '5'><br><h3>Contact Queue</h3></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Headline</th>
      <th>Note</th>
      <th>Date to Contact</th>
      <th></th>
    </tr>
    <tr>
    </tr>
    </table>
    <% else %>
    <% end %>


