<div class="container home">

<h1 class="brand"><em>Rapport</em></h1>
<h3 id="tagline">Enhance the value of your LinkedIn network by actively managing your relationships with your contacts. Add notes on your latest interactions, and make a plan to meet up again soon.
Don't just accumulate connections - build <span class="brand">rapport</span>.</h3>


<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
  <p class="text-center">
    <a class="btn btn-primary btn-lg home" href="<%= omniauth_authorize_path(resource_name, provider) %>" role="button">Sign in with LinkedIn</a></p>
  <% end %>
<% end %>
</div>

